.movie {
  background-color: lemonchiffon;

  img {
    border: 3px solid purple;
    width: 400px;
  }

  h3 {
    color: lightseagreen;
    font-size: 24px;
  }

  p {
    color: saddlebrown;
    font-size: 18px;
  }
}
